/*
** P.Porto - Escola Superior de Tecnologia e Gestão
** PF - Projeto Final
** 8130368 - Ana Martins 
*/

h1 a{
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color:#2F7905;
    height: 10%;
    position: fixed;
    top: 6%;
    left: 0;   
    padding: 10px;
    color:white;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 16%;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98%;
    text-align: right;
}

.footer p{
    font-size: 10px;
    font-weight: bold;
}

.menu-items{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 0;
    background-color: #243410;
    background: #243410 url(../Images/Beira,_vinho_verde_copia.jpg);
    overflow-x: hidden;
    padding-top: 20px;
}

.menu-items a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    background: #3e8e41;
}

.menu-items a:hover {
    color: #ccccff;
}

@media screen and (max-height: 450px) {
    .menu-items {padding-top: 15px;}
    .menu-items a {font-size: 18px;}
}

h2{
    left: 250px;
    top: 150px;
    position: fixed;
}

.conteudoDetalhes{
    left: 250px;
    top: 250px;
    position: fixed;
}

.conteudoDetalhes p {
    font-size: 15px;
}

.opcoes{
    margin-top: 50px;
}

.opcoes span a {
    font-size: 18px;
    padding: 4px;
}

.opcoes span a:hover{
    color: red;
}

.conteudo span{
    font-weight: bold;
}

.menu-items a.active {
    background: #FA5858;
}

.menutopo  {
    list-style-type: none;
    overflow: hidden;
    text-align: right;
    margin-right: 80px;
}

.menutopo li {
    display:inline;
    font-size: 15px;
}
