/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/abr/2018, 0:35:56
    Author     : anaal
*/

h1 a{
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color:#2F7905;
    height: 10%;
    position: fixed;
    top: 6%;
    left: 0;   
    padding: 10px;
    color:white;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 16%;
     text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98%;
    text-align: right;
}

.footer p{
    font-size: 10px;
    font-weight: bold;
}

.menu-items{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 20.5%;
    left: 0;
    background-color: #243410;
    background: #243410 url(../Images/Beira,_vinho_verde_copia.jpg);
    overflow-x: hidden;
    padding-top: 20px;
}

.menu-items a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    background: #3e8e41;
}

.menu-items a:hover {
    color: #ccccff;
}

@media screen and (max-height: 450px) {
    .menu-items {padding-top: 15px;}
    .menu-items a {font-size: 18px;}
}

h2{
    left: 250px;
    top: 160px;
    position: fixed;
}

.menutopo  {
    list-style-type: none;
    overflow: hidden;
    text-align: right;
    margin-right: 80px;
}

.menutopo li {
    display:inline;
    font-size: 15px;
}

.menu-items a.active {
    background: #FA5858;
}

.conteudo{
        left: 250px;
    top: 300px;
    position: fixed;
}

.hide {
  display: none;
}