/*
** P.Porto - Escola Superior de Tecnologia e Gestão
** PF - Projeto Final
** 8130368 - Ana Martins 
*/

#fundo_verde{
    opacity: 40%;
}

h1{
    color: green;
    font-size: 35px;
    text-align: center;
    position: relative;
}

.content{
    margin-top: 3%;
}

.content p {
    font-size: 16px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: center;
}

.content p a{
    text-decoration: none;
    color: black;
}

.imageBack img{
    margin-left: 2%;
    margin-top: 4%;
}