/*
** P.Porto - Escola Superior de Tecnologia e Gestão
** PF - Projeto Final
** 8130368 - Ana Martins 
*/

h1 {
    width: 100%;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color:#2F7905;
    height: 10%;
    position: fixed;
    top: 2.5%;
    left: 0;   
    padding: 10px;
    color:white;
    font-size: 35px;
    padding-top: 25px;
    padding-left: 16%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 98%;
    text-align: right;
}

.footer p{
    font-size: 10px;
    font-weight: bold;
}

.menu-items{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 20%;
    left: 0;
    background: #243410;
    background: #243410 url(../Images/Beira,_vinho_verde_copia.jpg);
    overflow-x: hidden;
    padding-top: 20px;
}

.menu-items a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    background: #3e8e41;
}

.menu-items a:hover {
    color: #ccccff;
}

@media screen and (max-height: 450px) {
    .menu {padding-top: 15px;}
    .menu a {font-size: 18px;}
}

h2{
    left: 250px;
    top: 150px;
    position: fixed;
}

#novaTarefa{
    left: 250px;
    top: 220px;
    position: fixed;
    text-decoration: none;
    border: 1px grey solid;
    padding: 5px;
    background-color: grey;
    color:black;
    border-radius: 3px;
}

#novaTarefa:hover{
    color:#f1f1f1;
}

.conteudo{
    height: 350px;
    margin-left: 250px;    
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    font-size: 15px;
    left: 250px;
    top: 280px;
    position: fixed;
}

td, th {
    border: 3px solid black;
    text-align: left;
    padding: 7px;
}

.conteudo table tr td{
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.menutopo  {
    list-style-type: none;
    overflow: hidden;
    text-align: right;
    margin-right: 80px;
}

.menutopo li {
    display:inline;
    font-size: 15px;
}

.menu-items a.active {
    background: #FA5858;
}